@using System.Web.Optimization
@model MeetingProgram.Models.MeetingModel.Meeting

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Meeting</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @* Date *@
        <div class="form-group">
            <div class="col-md-10">
                <div class="col-xs-12 col-md-6">
                    @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control pull-right datepicker" } })

                    </div>
                    <div class="col-xs-12 col-md-6">
                        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Agenda, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <button type="button" class="btn btn-success">
                    Add Agenda
                </button>
                <a class="btn btn-default" data-toggle="modal" href="@Url.Action("Create","Agenda")"><span class="glyphicon glyphicon-plus"></span>&nbsp;CreateModal</a>
                @Html.EditorFor(model => model.Agenda, new { htmlAttributes = new { @class = "form-control" } })

            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.IsDraft, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsDraft)
                    @Html.ValidationMessageFor(model => model.IsDraft, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Atendees, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="selectpicker form-control" multiple>
                    <option value="jonas">Jonas</option>
                    <option value="name">Tomatoes</option>
                    <option value="mozarella">Mozzarella</option>
                    <option value="mushrooms">Mushrooms</option>
                    <option value="pepperoni">Pepperoni</option>
                    <option value="onions">Onions</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section ViewSpecificJavascript {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Content/site.js")

}
