@using System.Web.Optimization
@using MeetingProgram.Models.MeetingModel
@model MeetingProgram.Models.MeetingModel.Meeting

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Meeting</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.MeetingID)

    @* Date *@
    <div class="form-group">
        <div class="col-md-10">
            <div class="col-xs-12 col-md-6">
                @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    @Html.EditorFor(model => model.Date, new
                    {
                        htmlAttributes = new
                        { @class = "form-control pull-right datepicker" }
                    })
                </div>
                <div class="col-xs-12 col-md-6">
                    @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <div class="col-xs-12 col-md-6">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control col-md-2" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    @*<div class="form-group">
            @Html.LabelFor(model => model.IsDraft, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsDraft)
                    @Html.ValidationMessageFor(model => model.IsDraft, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>*@

    <div class="form-group">
        <div class="col-md-10">
            <div class="col-xs-12 col-md-6">
                @Html.LabelFor(model => model.Agenda, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <ol id="topicEditor" style="list-style-type: none">
                        @foreach (Topic topic in Model.Agenda.Topics)
                        {
                            Html.RenderPartial("TopicEditor", topic);
                        }
                    </ol>
                    <p><a id="addAnother" href="#">Add another topic</a>
                </div>
            </div>
        </div>
    </div>


    @* atendes *@
    <div class="form-group">
        <div class="col-md-10">
            <div class="col-xs-12 col-md-6">
                @Html.LabelFor(model => model.Atendees, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*@Html.DropDownListFor(model => model.Atendees, new SelectList(Model.Atendees, "", ""), " ", new { @class = "form-control selectpicker  col-md-2" })
                        @Html.ValidationMessageFor(model => model.Atendees, "", new { @class = "text-danger" })
                    *@
                    
                    @Html.DropDownListFor(model => model.Atendees, new MultiSelectList(ViewBag.People, "Value", "Text"),  new { @class = "form-control selectpicker col-md-2",  @multiple = "multiple" })

                </div>
            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-10">
            <div class="col-xs-12 col-md-6">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save Meeting" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>


</div>
}

<div>
    @Html.ActionLink("Back to Meetings", "Index")
</div>

@section ViewSpecificJavascript {
    <script>
        $("#addAnother").click(function () {
            $.get('/Meetings/TopicRow', function (template) {
                $("#topicEditor").append(template);
            });
        });
    </script>

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Content/js/site.js")
}