@model IEnumerable<MeetingProgram.Models.MeetingModel.Meeting>

@{
    ViewBag.Title = "Meeting";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>

        <td></td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MeetingID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MeetingID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MeetingID })
        </td>
    </tr>
}

</table>
